doctype html 
html 
    head 
         title Pawan Travel Blog
         block scripts 
         block style
        
    body
        nav#navbar 
            ul 
                li #[a(href ='/') Home]
                li #[a(href ='/') About]
                li #[a(href ='/') Travel]
                li #[a(href ='/') Eat]
                li #[a(href ='/') Relax]
            div.icon
                a.logo(href ='https://www.facebook.com/profile.php?id=100051480540972' target="_blank") #[img(src="../static/img/fb.webp", alt="fb") ] 

                a.logo(href ='https://www.instagram.com/__pawankumar12/' target="_blank") #[img(src="../static/img/insta.webp", alt="insta") ] 
                
                a.logo(href ='https://twitter.com/?lang=en' target="_blank") #[img(src="../static/img/twitter.webp", alt="twitter")] 
        block content 
        section#top6 
            div.spects
                a.logo1(href ='https://www.facebook.com/profile.php?id=100051480540972' target="_blank")  #[img.image1(src="../static/img/fb.webp", alt="fb")]
                div facebook
            div.spects
                a.logo1(href ='https://www.instagram.com/__pawankumar12/' target="_blank")  #[img.image1(src="../static/img/insta.webp", alt="insta")]
                div instagram
            div.spects    
                a.logo1(href ='https://twitter.com/?lang=en' target="_blank")  #[img.image1(src="../static/img/twitter.webp", alt="twitter")] 
                div twitter

        section#top7 
            img.image4(src="../static/img/bbg1.jpg", alt="img")
            img.image4(src="../static/img/bbg2.jpg", alt="img")
            img.image4(src="../static/img/bb3.jpg", alt="img")
            img.image4(src="../static/img/bb4.jpg", alt="img")
            img.image4(src="../static/img/bb5.jpg", alt="img")
            img.image4(src="../static/img/bb6.jpg", alt="img")

        section#top8 
            div.top8
                div.inner
                    img.image5(src="../static/img/aboutme.webp", alt="")
                    div.write
                        h3 About Me 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, eos? Vitae atque ut ipsum ad! Maxime totam et, nemo omnis veniam culpa possimus inventore eum fugiat harum, repellat, soluta dignissimos ea porro architecto?
                div.hello
                    h2.ad Join My Mailing List 
                    div.ad Email* 
                    div.ad #[input(type="email", name="email" placeholder="Enter your email here" class="email")]
                    buttton.ad.subscribe Subscribe Now

        section#top9 
            div.rights © All rights are reserved 
            div.upper #[a(href='#top') ^] 
            div 
                a.logo(href ='https://www.facebook.com/profile.php?id=100051480540972' target="_blank") #[img(src="../static/img/fb.webp", alt="fb") ] 

                a.logo(href ='https://www.instagram.com/__pawankumar12/' target="_blank") #[img(src="../static/img/insta.webp", alt="insta") ] 
                    
                a.logo(href ='https://twitter.com/?lang=en' target="_blank") #[img(src="../static/img/twitter.webp", alt="twitter")] 