<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
        }
        .container{
            width: 100%;
            background-color: blue;
            color: black;
            align-items:  center;
            justify-content: center;
            display: flex;
        }
        img{
            padding: 12px 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href ='https://www.facebook.com/profile.php?id=100051480540972' target="_blank"> <img src="../static/img/fb.webp" alt="">  </a>
        <div class="js"> facebook</div>
    </div>
    <div class="container">
        <a href ='https://www.facebook.com/profile.php?id=100051480540972' target="_blank"> <img src="../static/img/fb.webp" alt="">  </a>
        <div class="js"> facebook</div>
    </div>
    <div class="container">
        <a href ='https://www.facebook.com/profile.php?id=100051480540972' target="_blank"> <img src="../static/img/fb.webp" alt="">  </a>
        <div class="js"> facebook</div>
    </div>
</body>
</html>