extends base.pug

block scripts 
    script(src="../static/index.js")

block style 
    style 
        include ../static/style.css
        include ../static/travelStyle.css

block content 
    div.main1
        div.serc1 
            p.topb Relax 
            p.pa Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut laborum voluptas expedita porro natus illum quia, autem perferendis quibusdam quis asperiores accusantium et reprehenderit, similique obcaecati ratione vitae nemo, molestiae aspernatur sint iste?

        div.serc2
            img.scene(src="../static/img/e.webp", alt="img")
            p.new Silky Sands.
            p.bott Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias hic, repudiandae deleniti voluptates aut reiciendis vero a nesciunt illo. Enim dolores excepturi maiores labore nesciunt quidem molestias voluptas perspiciatis ab, aspernatur culpa blanditiis.

        div.serc2
            img.scene(src="../static/img/e2.webp", alt="img")
            p.new Essential Spa & Body Treatment
            p.bott Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias hic, repudiandae deleniti voluptates aut reiciendis vero a nesciunt illo. Enim dolores excepturi maiores labore nesciunt quidem molestias voluptas perspiciatis ab, aspernatur culpa blanditiis.

        div.serc2
            img.scene(src="../static/img/e3.webp", alt="img")
            p.new Coconut Tree
            p.bott Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias hic, repudiandae deleniti voluptates aut reiciendis vero a nesciunt illo. Enim dolores excepturi maiores labore nesciunt quidem molestias voluptas perspiciatis ab, aspernatur culpa blanditiis.
