@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    word-spacing: 5px;
    
}

#navbar{
    background-color: #d9d5d5;
    display: flex;
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: row;
}

.icon{
    position: absolute;
    right: 4%;
    top: 4vh;
}

li{
    list-style: none;
    padding: 30px 29px;
}
a{
    text-decoration: none;
    /* padding: 12px 22px; */
    font-weight: bolder;
}

.logo{
    padding: 11px 7px;
}

#top{
    background: url("static/img/tbg.png") center/cover no-repeat;
    color: white;
    height: 72vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}

.logo1{
    padding: 12px 33px;
    color: white;
}

.h1{
    font-size: 62px;
    font-weight: bolder;
}
.p1{
    padding-top: 95px;
}
.p{
    font-size: 22px;
}

#top1{
    display: block;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 22px;
    padding-top: 62px;
    font-weight: 800;
    height: 21vh;
    background-color: #f0f1ed;
} 

#top2{
    display: flex;
}

.block{
    width: 32%;
    margin: 0 10px;
    display: flex;
    height: 359px;
    display: flex;
    justify-content: center;
    align-items: center ;


}
.block1{
    background: url("static/img/t1.webp") center/cover no-repeat ;
}
.block2{
    
    background: url("static/img/t2.webp") center/cover no-repeat ;
}
.block3{
    
    background: url("static/img/t3.webp") center/cover no-repeat ;
}

button{
    padding: 18px 53px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    color: blue;
}
button:hover{
    background-color: rgb(97, 97, 246);
    color: white;
    border: 3px solid white;
    cursor: pointer;
}
.mid{
    text-align: center;
}

.image{
    width: 98%;
    margin: 22px 10px;
}

h3{
    margin: 13px 18px;
    padding: 4px 11px;
}

#top6{
    border:1px solid black;
    background-color: blue;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

}

.spects{
    width: 100%;
    background-color: blue;
    color: black;
    align-items:  center;
    justify-content: center;
    display: flex;
    color: white;
}

.image1{
    padding: 15px 0px;
}
.logo1{
    padding: 11px 4px;

}

#top7{
    display: flex;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
}

#top8{
    background-color: grey;
    color: white;
    padding: 50px 31px
}

.image4{
    width: 16.66%;
}

.write{
    width: 50%;
    padding: 4px 40px;
}

.hello{
    margin-right: 120px;
    padding: 0px 20px;
    width: 21%;
}




.inner{
    display: flex;
    width: 60%;
}
.top8{
    display: flex;
}

.ad{
    padding: 5px 2px;
}

.email{
    background-color: grey;
    color: white;
    padding: 8px 20px;
    border: 1px solid white;
    width: 100%;
    margin-bottom: 5px;

}

.email::placeholder{
    color: white;
}

.subscribe{
   background-color: blue;
   padding: 5px 58px;
   width: 70%;

}
.subscribe:hover{
    background-color: rgb(97, 97, 246);
    color: white;
    cursor: pointer;
}

#top9{
    background-color: grey;
    display: flex;
}
.rights{
    width: 40%;
    margin-left:55px ;
}

.upper{
    width: 30%;
    font-size: 33px;
}